# Ignore virtual environments
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variable files
.env
.env.local
.env.development
.env.production

# Ignore log files
*.log

# Ignore database files
*.sqlite3
*.db

# Ignore IDE and editor settings
.vscode/
.idea/

# Ignore node modules (frontend)
node_modules/
.DS_Store
